<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lianglele All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the ywuwu.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lianglele (liangle1986@126.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mywuwu.pigx.shop.mapper.CommentMapper">

	<resultMap id="nideshopCommentMap" type="com.mywuwu.pigx.shop.entity.Comment">
		<id property="id" column="id"/>
		<result property="typeId" column="type_id"/>
		<result property="valueId" column="value_id"/>
		<result property="content" column="content"/>
		<result property="addTime" column="add_time"/>
		<result property="status" column="status"/>
		<result property="userId" column="user_id"/>
	</resultMap>

	<!--评论信息数量-->
	<select id="getCountComment">

		select count(c.id) from `nideshop_comment` c
		right join `nideshop_comment_picture` p on c.id = p.comment_id
		<trim prefix="where" prefixOverrides="and|or">
			<if test="typeId != null">
				and c.type_id = #{typeId}
			</if>
			<if test="valueId != null">
				and c.value_id = #{valueId}
			</if>
		</trim>
	</select>
	<!--评论信息-->
	<select id="selectCommentList" resultType="com.mywuwu.pigx.shop.vo.Comment">

		select c.id, c.type_id , c.content, c.add_time, c.status, c.user_id from `nideshop_comment` c
		right join `nideshop_comment_picture` p on c.id = p.comment_id
		<trim prefix="where" prefixOverrides="and|or">
			<if test="commentDto.typeId != null">
				and c.type_id = #{typeId.typeId}
			</if>
			<if test="commentDto.valueId != null">
				and c.value_id = #{commentDto.valueId}
			</if>
		</trim>
	</select>
</mapper>
